<h1>Edit Post</h1>

<% if @post.errors.any? %>
  <div id="errors">
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>
<% end %>

<div class="post_form">
  <%= form_for @post, url: edit_post_path do |f| %>
    <%= f.label :title, "Title" %> <br>
    <%= f.text_field :title %> <br>
    <%= f.label :description, "Description" %> <br>
    <%= f.text_area :content %> <br>
    <%= f.label :category, " Select Category" %>
    <%= f.collection_select(:category_id, @categories, :id, :name) %> <br>
    <%= f.submit "Submit" %>
  <% end %>
</div>
